/* PatientForm.css */
input[type="date"] {
  position: relative;
  color: transparent; /* hide browser placeholder */
}

input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  left: 10px;
  color: #777;
}

input[type="date"]:valid {
  color: black; /* show selected date normally */
}

input[type="date"]:valid::before {
  content: "" !important; /* remove custom placeholder when value exists */
}
